@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #52330a;
}

h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

/* logo */

header {
    height: 100px;
    padding: 20px;
    background-color: rgb(245, 234, 222);
}

#logo {
    width: 30%;
    height: auto;
    float: left;
}

/* menu */

#menu {
    font-size: 150%;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 45px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu,
#logo {
    line-height: 90px;
}

#menu a:hover {
    border-bottom: 1px solid #52330a;
}

.active {
    border-bottom: 1px solid #52330a;
}

/* hero image */

#hero-image {
    background: rgb(245, 234, 222) url("../images/hero-image.jpg") no-repeat center center/ cover;
    width: 100%;
    height: 600px;
    position: relative;
}

/* cover text for hero image */

#cover-text {
    position: absolute;
    color: #ffff;
    bottom: 40%;
    left: 90px;
    font-size: 150%;
    letter-spacing: 5px;
    width: 500px;
    height: auto;
    padding-top: 70px;

}

#cover-text h2,
h3 {
    line-height: 1, 8;
}

#cover-text h2:nth-child(2) {
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
}

#cover-text a {
    color: inherit;
}

#cover-text a:hover {
    color: #ff852e;
    text-decoration-thickness: 10px;
}

/*about us*/

.about-us { 
    width: 50%;
    margin: 0 auto;
    padding-top: 35px;
}

.about-us-heading {
    padding-bottom: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 150%;
    letter-spacing: 5px;
}

.about-us p {
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;

}

#design-bar {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../images/design-bar.jpg") no-repeat center;
}

/* newsletter form */

.newsletter-container {
    width: 50%;
    margin: 0 auto;
}

.newsletter-form {
    width:50%;
    margin: 0 auto;
    padding: 35px 0 35px 0;
    text-align: center;
}

.newsletter-form h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.newsletter-text {
    font-size: 12px;
    letter-spacing: 1px;
}

.input-newsletter {
    width: 80%;
    height: 25px;
    margin: 10px auto 0 auto;
    border: 1px solid #52330a;
    border-radius: 5px;
    display: block;
}

.input-newsletter:hover {
    border-color: #ff852e;
}

.newsletter-form p { 
    font-size: 11px;
    padding: 10px; 
}

.newsletter-button {
    text-align: center;
    font-size: 100%;
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
    background-color: #ff852e;
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
}

.newsletter-button:hover {
    background-color: #ffff;
    color: #ff852e;
    border: solid 1px #ff852e;
}

/* footer */

footer {
    height: 150px;
    padding: 5px;
    background-color: rgb(245, 234, 222);
}

.footer-container {
    text-align: center;
}

footer h3 {
    font-size: 20px;
    padding-top: 15px; 
}

.social-icons li {
    list-style-type: none;
    display: inline;
}

.social-icons a {
    text-decoration: none;
    font-size: 170%;
    color: #52330a;
    margin: 5px 35px 5px 35px;
    padding: 20px;
}

.social-icons a:hover {
    color: #ff852e;
}

footer p {
    font-size: 15px;
    margin-top: 15px 0 5px 0;
    font-weight: 100;
}

/* adoptable dogs gallery */

#gallery-heading {
    padding: 25px;
    margin: 0 auto;
}

.dog-grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
}




