@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #52330a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

/* logo */

header {
    height: 150px;
    background-color: rgb(245, 234, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 100%;
    height: auto;
}

/* menu */

#menu {
    font-size: 28px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
}

#menu li {
    list-style-type: none;
    margin: 0 30px;
    font-family: "Montserrat", sans-serif;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #52330a;
}

.active {
    border-bottom: 1px solid #52330a;
}

/* hero image */

#hero-image {
    background: rgb(245, 234, 222) url("../images/hero-image.webp") no-repeat center center/ cover;
    width: 100%;
    height: 600px;
    position: relative
}

/* cover text for hero image */

#cover-text {
    position: absolute;
    color: #ffff;
    bottom: 40%;
    left: 60px;
    font-size: 190%;
    letter-spacing: 5px;
    width: 550px;
    height: auto;
    padding-top: 70px;
}

#cover-text h2 {
    line-height: 1.3;
    text-align: center;
}

#cover-text .paw-icon {
    display: none;
}

#cover-text h2:nth-child(2) {
    text-transform: uppercase;
    line-height: 2;
}

#cover-text a {
    color: inherit;
}

#cover-text a:hover {
    color: #ff852e;
    font-weight: bolder;
}

#cover-text a:hover .paw-icon {
    display: inline;
}

/*about us*/

.about-us {
    width: 50%;
    margin: 0 auto;
    padding-top: 35px;
}

.about-us-heading {
    padding-bottom: 15px;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    letter-spacing: 5px;
}

.about-us p {
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;

}

#design-bar {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../images/design-bar.webp") no-repeat center;
}

/* newsletter form */

.newsletter-container {
    width: 60%;
    margin: 0 auto;
}

.newsletter-form {
    width: 50%;
    margin: 0 auto;
    padding: 35px 0 35px 0;
    text-align: center;
}

.newsletter-form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
}

.newsletter-text {
    font-size: 17px;
    letter-spacing: 2px;
}

.input-newsletter {
    width: 80%;
    height: 30px;
    font-size: 16px;
    margin: 10px auto 0 auto;
    border: 1px solid #52330a;
    border-radius: 5px;
    display: block;
}

.input-newsletter:hover {
    border-color: #ff852e;
    background-color: rgb(245, 234, 222);
}

.newsletter-form p {
    font-size: 16px;
    padding: 10px;
}

.newsletter-button {
    text-align: center;
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
    background-color: #ff852e;
    color: #52330a;
    font-size: 20px;
}

.newsletter-button:hover {
    background-color: #ffff;
    color: #E05D00;
    border: solid 1px #ff852e;
}

/* footer */

footer {
    height: 150px;
    background-color: rgb(245, 234, 222);
    text-align: center;
}

footer h3 {
    font-size: 24px;
    padding: 16px 0;
}

.social-icons li {
    list-style-type: none;
    display: inline;
}

.social-icons a {
    text-decoration: none;
    font-size: 200%;
    color: #52330a;
    padding: 1rem;
    margin: 0 2rem;
}

.social-icons a:hover {
    color: #ff852e;
}

footer p {
    font-size: 16px;
    margin: 1rem;
    font-weight: 100;
}

/* adoptable dogs gallery */

#gallery-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}

#gallery-heading>h2 {
    letter-spacing: 5px;
    font-size: 28px;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dog-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 25px;
    row-gap: 25px;
}

.gallery-item {
    border: 5px solid rgb(245, 234, 222);
    background-color: rgb(245, 234, 222);
}

.gallery-item li {
    list-style-type: none;
    padding: 5px;
}

.dog-image img {
    border: none;
    width: 100%;
    height: 100%;
}

.gallery-item:hover {
    border-color: #ff852e;
}

.info-box li {
    text-align: center;
    letter-spacing: 2px;
    line-height: 18px;
}

.info-box h3 {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    letter-spacing: 5px;
}

/* happy stories video */

.video-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

.video-wrapper h2 {
    letter-spacing: 5px;
    font-size: 28px;
    padding: 75px 0 50px 0;
    text-align: center;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #ff852e;
}

/* contact-us page */

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 35px;
}

.contact-column {
    flex: 1;
    max-width: 47%;
    padding: 15px;
    box-sizing: border-box;
}

.contact-column img {
    width: 100%;
    height: auto;
}

.form-container h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    letter-spacing: 5px;
    font-size: 28px;
}

.form-container label {
    font-size: 22px;
    letter-spacing: 2px;
}

.text-input {
    width: 100%;
    height: 30px;
    font-size: 17px;
    border: 1px solid #52330a;
    background-color: transparent;
    margin: 10px 0 20px 0;
}

.text-input:hover {
    background-color: rgb(245, 234, 222);
    border-color: #ff852e;
}

.textarea-field {
    width: 100%;
    height: 200px;
}

.submit-button {
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid #52330a;
    background-color: #ff852e;
    color: #52330a;
    letter-spacing: 2px;
    height: 33px;
}

.submit-button:hover {
    color: #E05D00;
    background-color: rgb(245, 234, 222);
}


/* media queries */

/* hide burger button and checkbox for screen wider than 750px*/

@media screen and (min-width: 751px) {
    .nav-toggle i {
        display: none;
    }

    header input {
        display: none;
    }
}

/* for larger to medium screen size from 1400px wide and down */

@media screen and (max-width: 1400px) {

    #cover-text {
        font-size: 180%;
        left: 20px;
        bottom: 5%;
    }

}

/* for larger to medium screen size from 1300px wide and down */

@media screen and (max-width: 1300px) {

    #gallery-heading {
        width: 80%;
        text-align: center;
        padding-left: 100px;
    }

    .dog-grid-container {
        grid-template-columns: 400px 400px;
    }

}

/* for medium screen size from 992px wide and down */

@media screen and (max-width: 992px) {
    #menu li {
        margin: 0 20px;
    }

    .video-wrapper {
        max-width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .newsletter-form {
        width: 100%;
    }

    /* cancel hover effect for grid gallery items for medium and smaller screen size */
    .gallery-item:hover {
        border-color: transparent;
    }
}

/* for medium screen size from 900px wide and down */

@media screen and (max-width: 900px) {
    header {
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
    }

    #menu li {
        margin: 10px 20px 0;
    }

    #menu a:hover {
        border-bottom: none;
    }

    #cover-text {
        font-size: 160%;
        width: 450px;
    }

    .about-us {
        width: 70%;
    }

    /* contact-us page */

    .form-page {
        flex-direction: column;
    }

    .contact-column {
        max-width: 80%;
    }

    .form-container {
        padding-bottom: 35px;
    }

}

/* for medium screen size from 880px wide and down */

@media screen and (max-width: 880px) {

    .dog-grid-container {
        grid-template-columns: 300px 300px;
    }
}

/* for small screen size from 750px wide and down */

@media screen and (max-width: 750px) {
    header {
        position: fixed;
        z-index: 99;
        width: 100%;
        height: fit-content;
        box-shadow: 0 2px 5px #a6592e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0%;
        top: 0;
        margin: 0;
    }

    /* headings */

    .about-us-heading, #gallery-heading>h2, .video-wrapper h2, .form-container h2 {
        font-size: 24px;
    }

    .newsletter-form h3 {
        font-size: 20px;
    }

    /* navigation bar styles with dropdown menu */
    nav {
        position: absolute;
        background-color: rgba(97, 93, 89, 0.8);
        box-shadow: 0 2px 5px #a6592e;
        display: none;
        top: 100%;
        width: 100%;
        height: 230px;
    }

    nav li {
        color: #ffff;
    }

    #menu a {
        font-size: 30px;
    }

    .active {
        border-bottom: 3px solid #ffff;
    }

    #menu li {
        width: 100%;
        padding: 2% 0;
        margin: 10px;
    }

    /* burger button */

    #burger-menu:checked~nav {
        display: block;
    }

    #burger-menu {
        display: none;
    }

    .nav-toggle i {
        font-size: 180%;
        padding-bottom: 10px;
    }

    #menu {
        display: block;
        text-align: center;
    }

    /* hero image and cover text*/
    main {
        margin-top: 130px;
    }

    #gallery-content {
        margin-top: 200px;
    }

    #hero-image {
        width: 100%;
        overflow: hidden;
    }

    #cover-text {
        font-size: 110%;
        width: 250px;
        bottom: 4%;
    }

    /* remove hover effect from cover-text for small screen size */
    #cover-text a:hover {
        color: #ffff;
        border-bottom: none;
    }

    #cover-text a:hover .paw-icon {
        display: none;
    }

    /* about us section */

    .about-us {
        width: 80%;
    }

    #design-bar {
        width: 80%;
    }

    /* social icons */

    .social-icons a {
        margin: 0 0.5rem;
    }

    /* adopt page */

    .dog-grid-container {
        grid-template-columns: 400px;
    }

    #gallery-heading {
        width: 90%;
        text-align: center;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    /* contact page  */

    .form-page {
        margin-top: 33px;
    }

    .contact-column {
        max-width: 100%;
    }

    .contact-img-container {
        padding: 0;
    }

    .form-container {
        max-width: 80%;
    }

}

@media screen and (max-width: 500px) {

    .dog-grid-container {
        grid-template-columns: 280px;
    }

}