@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #52330a;
}

/* logo */

header {
    height: 100px;
    width: 100%;
    padding: 20px; 
    background-color: rgb(245, 234, 222);
}

#logo {
    width: 30%;
    height: auto;
    float: left;
}

/* menu */

#menu {
    font-size: 150%;
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 45px;
    margin-left: 30px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 90px; 
}

#menu a:hover {
    border-bottom: 1px solid #52330a;
}

.active {
    border-bottom: 1px solid #52330a;
    }

/* hero image */

#hero-image {
    background: rgb(245, 234, 222) url("../images/hero-image.jpg") no-repeat center center/ cover;
    width: 100%; 
    height: 600px;
}

